@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Icon 1 */

#nav-icon1 {
    width: 40px;
    border: none!important;
    height: 28px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #1a8fd3;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
}

#nav-icon1 span:nth-child(3) {
    top: 16px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* Hamburger ICON */

.logo {
    width: 20%;
}

.navbar-link {
    padding: 0% 5%;
}

.navbar-toggle-image {
    background-image: url("/public/images/Logo.png");
    color: black;
}

.c_section {
    margin: 1% 4%;
}

.toggle-image {
    width: 7%;
}

li {
    list-style: none;
    margin: 1% 0%;
}

.footer-link {
    color: rgb(184, 182, 182);
    font-size: 1.5rem;
    text-decoration: none;
}

.input_name {
    width: 40%;
    display: inline-block;
}

label {
    font-size: 1.1rem;
}

.nav-logo {
    width: 7%;
}

.nav-heading {
    width: 50%;
}

.message_sent {
    margin-left: 10%;
    margin-bottom: 50%;
    text-align: center
}

@media only screen and (max-width: 1024px) {
    .input_name {
        width: 80%;
    }
    .nav-logo {
        width: 14%;
    }
    .pb-btn-donate {
        margin: 0%;
        margin-right: 7%;
    }
    .pb-info {
        margin-top: 2%;
    }
}

.heading {
    text-align: center;
    margin: 1% 0%;
    font-family: 'Montserrat', sans-serif;
}

.ss-slide {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 20%;
    margin-top: 10%;
}

.ss-img {
    width: 100%;
    border-radius: 50px;
}

.ss-slide-inner {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.082);
    border-radius: 50px;
}

.pb-info {
    margin-top: 5%;
}

.pb-text {
    padding: 5%;
    font-size: 1.5rem;
    margin-right: 7%;
}

.pb-banner {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.082);
    border-radius: 50px;
    margin: 2% 14%;
    width: 70%;
}

.pb-btn-donate {
    padding: 2%;
    font-size: 1.2rem;
    border-radius: 25px;
    font-weight: 400;
    background-color: #fa5956;
    border-color: #fa5956;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.034);
}

.pb-btn-donate:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #fa5956;
}

.pb-bank-details {
    margin-top: 10%;
    font-size: 1.5rem;
    text-align: left;
}

.pb-donateus {
    text-align: center;
    font-size: 1.5rem;
}

.pb-contactus {}

.pb-contact {
    margin-top: 5%;
    font-size: 1.5rem;
}